
.hero-body {
    & img.avaire {
        border: 2px solid darken($primary, 20%);
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }

    & h1.avaire {
        font-size: 5.35em;
        font-family: 'Condiment', cursive;
        font-weight: 400;
    }
}
