
.message {
    &.is-primary {
        background-color: $dark;

        & .message-body {
            color: $white;

            & strong {
                color: $primary;
            }
        }
    }
}
