
.tabs {
    &.is-toggle {
        & li + li {
            margin-left: 0px;
        }

        a:hover {
            color: $white;
            background-color: rgba($primary, 75%);
        }
    }

    &:not(.is-toggle) ul {
        border: none;

        & li {
            border-bottom: 1px solid $white;
        }
    }

    & ul li {
        &:first-child {
            margin-top: 0;
        }

        &:hover {
            border-bottom-color: $grey !important;
        }
    }
}
