
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container.content {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

// Fade
.fade-enter-active, .fade-leave-active {
    transition: opacity .325s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

// Slide
.slide-left-leave-active, .slide-left-enter-active {
    transition: 0.8s;
}
.slide-left-enter {
    opacity: 0;
    transform: translate(100%, 0);
}
.slide-left-leave-to {
    opacity: 0;
    transform: translate(-100%, 0);
}

.slide-right-leave-active, .slide-right-enter-active {
    transition: 0.8s;
}
.slide-right-enter {
    opacity: 0;
    transform: translate(-100%, 0);
}
.slide-right-leave-to {
    opacity: 0;
    transform: translate(100%, 0);
}
